name: Ruff

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    container:
      image: python:3.13-slim
    steps:
      - uses: actions/checkout@v6

      - name: Install ruff
        uses: astral-sh/ruff-action@v3

      - name: Run Ruff Linter
        run: ruff check --output-format=github . --exclude ".github,.vscode,docs,images"

      - name: Format code
        run: ruff format